<?xml version="1.0" encoding="utf-8"?><!--
    Copyright (c) 2009 - 2017 Carmen Alvarez

    This file is part of Nounours for Android.

    Nounours for Android is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Nounours for Android is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Nounours for Android.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.rmen.nounours">

    <uses-sdk tools:overrideLibrary="net.margaritov.preference.colorpicker" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"
        tools:ignore="UnusedAttribute" />

    <application
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".android.handheld.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NounoursActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.handheld.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/options"
            android:parentActivityName=".android.handheld.MainActivity"
            android:theme="@style/NounoursActivityStyle"
            tools:ignore="ExportedPreferenceActivity,UnusedAttribute" />
        <activity
            android:name=".android.handheld.dream.DreamSettingsActivity"
            android:exported="true"
            android:label="@string/options"
            android:theme="@style/NounoursActivityStyle"
            tools:ignore="ExportedPreferenceActivity" />
        <activity
            android:name=".android.handheld.AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".android.handheld.settings.SettingsActivity"
            android:theme="@style/NounoursActivityStyle"
            tools:ignore="UnusedAttribute"/>

        <service
            android:name=".android.handheld.AnimationSaveService"
            android:exported="false" />
        <service
            android:name=".android.handheld.lwp.LWPService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lwp" />
        </service>
        <service
            android:name=".android.handheld.dream.NounoursDreamService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Point to additional information for this dream (optional) -->
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream" />

        </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
